<section id="actives">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Actives 2016</h2>
            </div>
        </div>

        <h2 class="section-heading">Alpha</h2>
        <div class="row">
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Annie.png", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Annie Cheng<p>
                            Electrical Engineering and Computer Science, 2017
                            </p></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Anusha.png", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Anusha Jain<p>
                            Electrical Engineering and Computer Science, 2016
                            </p></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Rachel.png", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Rachel Zhang<p>
                            Electrical Engineering and Computer Science, 2017
                            </p></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <h2 class="section-heading">Beta</h2>
        <div class="row">
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Shellin.png", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Shellin Chuong<p>
                            Cognitive Science, 2017
                            </p></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Nisha.png", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Nisha Janyaprayot<p>
                            Materials Science and Engineering & Mechanical Engineering, 2018
                            </p></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Waverly.png", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Waverly Runion<p>
                            Industrial Engineering and Operations Research, 2018
                            </p></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <h2 class="section-heading">Gamma</h2>
        <div class="row">
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Jennifer.png", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Jennifer Be<p>
                            Computer Science, 2018
                            </p></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Meera.png", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Meera Kota<p>
                            Civil and Environmental Engineering, 2019
                            </p></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Hana.png", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Hana McLaughlin<p>
                            Materials Science and Engineering, 2019
                            </p></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Lindsay.png", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Lindsay Nicholas<p>
                            Computer Science, 2019
                            </p></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Anjana.png", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Anjana Srinivas<p>
                            Computer Science, 2019
                            </p></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Camille.png", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Camille Stuczynski<p>
                            Industrial Engineering and Operations Research, 2019
                            </p></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Quinn.png", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Quinn Tran<p>
                            Computer Science, 2018
                            </p></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Christina.png", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Christina Tsai<p>
                            Civil Engineering, 2019
                            </p></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Regina.png", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Regina Xu<p>
                            Computer Science, 2018
                            </p></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Barbara.png", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Barbara Yang<p>
                            Computer Science, 2019
                            </p></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>        
     </div>
</section>