<section id="actives">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Actives 2016</h2>
            </div>
        </div>

        <h2 class="section-heading">Alpha</h2>
        <div class="row">
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Annie.jpg", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Annie Cheng<br><br>
                            Electrical Engineering and Computer Science, 2017
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Anusha.jpg", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Anusha Jain<br><br>
                            Electrical Engineering and Computer Science, 2016
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Rachel.jpg", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Rachel Zhang<br><br>
                            Electrical Engineering and Computer Science, 2017
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <h2 class="section-heading">Beta</h2>
        <div class="row">
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Shellin.jpg", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Shellin Chuong<br><br>
                            Cognitive Science, 2017
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Nisha.jpg", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Nisha Janyaprayot<br><br>
                            Materials Science and Engineering & Mechanical Engineering, 2018
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Waverly.jpg", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Waverly Runion<br><br>
                            Industrial Engineering and Operations Research, 2018
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <h2 class="section-heading">Gamma</h2>
        <div class="row">
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Jennifer.jpg", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Jennifer Be<br><br>
                            Computer Science, 2018
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Meera.jpg", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Meera Kota<br><br>
                            Civil and Environmental Engineering, 2019
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Hana.jpg", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Hana McLaughlin<br><br>
                            Materials Science and Engineering, 2019
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Lindsay.jpg", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Lindsay Nicholas<br><br>
                            Computer Science, 2019
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Anjana.jpg", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Anjana Srinivas<br><br>
                            Computer Science, 2019
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Camille.jpg", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Camille Stuczynski<br><br>
                            Industrial Engineering and Operations Research, 2019
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Quinn.jpg", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Quinn Tran<br><br>
                            Computer Science, 2018
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Christina.jpg", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Christina Tsai<br><br>
                            Civil Engineering, 2019
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Regina.jpg", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Regina Xu<br><br>
                            Computer Science, 2018
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <div class="hovereffect">
                        <%= image_tag "actives/fa2015/Barbara.jpg", :size => '200x200', :class =>"img-responsive img-rounded" =%>
                        <div class="overlay">
                            <h2>Barbara Yang<br><br>
                            Computer Science, 2019
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>        
     </div>

</section>


