<section id="officers">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Officers 2016</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="team-member">
                    <%= image_tag "officers/annie.png", :size => '200x200', :class =>"img-responsive img-circle" =%>

                    <h4>Annie Cheng</h4>
                    <p class="text-muted">President</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <%= image_tag "officers/rachel.png", :size => '200x200', :class => "img-responsive img-circle" =%>
                    <h4>Rachel Zhang</h4>
                    <p class="text-muted">VP Internal</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <%= image_tag "officers/camille.png", :size => '200x200', :class => "img-responsive img-circle" =%>
                    <h4>Camille Stuczynski</h4>
                    <p class="text-muted">VP External</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <%= image_tag "officers/christina.png", :size => '200x200', :class => "img-responsive img-circle" =%>
                    <h4>Christina Tsai</h4>
                    <p class="text-muted">Social Chair</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="team-member">
                    <%= image_tag "officers/meera.png", :size => '200x200', :class => "img-responsive img-circle" =%>
                    <h4>Meera Kota</h4>
                    <p class="text-muted">Philantrophy Chair</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <%= image_tag "officers/anjana.png", :size => '200x200', :class => "img-responsive img-circle" =%>
                    <h4>Anjana Srinivas</h4>
                    <p class="text-muted">Fundraising Chair</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <%= image_tag "officers/lindsayregina.png", :size => '200x200', :class => "img-responsive img-circle" =%>
                    <h4>Lindsay Nicholas and<br/> Regina Xu</h4>
                    <p class="text-muted">Director of Recruitment</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <%= image_tag "officers/waverly.png", :size => '200x200', :class => "img-responsive img-circle" =%>
                    <h4>Waverly Runion</h4>
                    <p class="text-muted">New Candidate Educator</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="team-member">
                    <%= image_tag "officers/hana.png", :size => '200x200', :class => "img-responsive img-circle" =%>
                    <h4>Hana McLaughlin</h4>
                    <p class="text-muted">Secretary</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <%= image_tag "officers/nisha.png", :size => '200x200', :class => "img-responsive img-circle" =%>
                    <h4>Nisha Janyaprayot</h4>
                    <p class="text-muted">Treasurer</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <%= image_tag "officers/jenniferquinn.png", :size => '200x200', :class => "img-responsive img-circle" =%>
                    <h4>Jennifer Be and Quinn Tran</h4>
                    <p class="text-muted">Webmaster</p>
                </div>
            </div>
        </div>
    </div>
</section>
